{{> enTete}}
{{> menu}}
 <h1>{{title}}</h1>
 <form action='#' method="POST">
 	<label>Citation numéro</label>
 	<input type="number" name="cit_no" value="{{cit_no}}">
 	<br>
 	<label>Note</label>
 	<input type="number" name="note" min="0" max="20">
 	<br>
 	<input type="submit" value="noter">
 </form>