{{> enTete}}
{{> menu}}		
<h1> {{title}}</h1>
<p><img src="/image/{{img}}" alt="{{res}}" > {{statu}}</p>
<p>Redirection automatique dans 5 secondes. </p>

<script type="text/javascript">   
	function Redirect() 
	{  
		window.location="/supprimerCitation"; 
	} 
	setTimeout('Redirect()', 5000);   
</script>